[% BLOCK menu %]
<CENTER>
    <A HREF="versions.html">Versions</A>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <A HREF="credits.html">Credits</A>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <A HREF="download.html">Download</A>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <A HREF="rubrics.html">Rubrics</A>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <A HREF="technical.html">Technical</A>
    &nbsp;&nbsp;&nbsp;&nbsp;
    Help
</CENTER><BR><BR>
[% END -%]

<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<HTML><HEAD>
    <META NAME='author' CONTENT='Divinum Officium Project'>
    <META NAME='Resource-type' CONTENT='Document'>
    <META NAME='description' CONTENT='Breviarium Romanum'>
    <META NAME='keywords' CONTENT='Church tradition, Breviarium, Divine Office, liturgy, Tridentine, old rite, Officium Divinum, Divinum Officium, breviary, missal, Missale, Missale Romanum, Mass, Missa, Misa, liturgie, liturgia, Messe, catholique, Catholic'>
    <TITLE>[% title %]</TITLE>
    <link rel='stylesheet' href='brevi.css' type='text/css'>
</HEAD>
<BODY BGCOLOR='#eeeeee' TEXT='#333333'><BR><BR>
[% INCLUDE menu %]
[% content %]
[% INCLUDE menu %]
<BR>
</BODY></HTML>
