BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//divinumofficium.com//
CALSCALE:GREGORIAN
SOURCE:[% url_for('calendar') %]
METHOD:PUBLISH
[% FOREACH e IN events %]
BEGIN:VEVENT
UID:[% e.cday %]
DTSTAMP:[% dtstamp %]
SUMMARY:[% e.summary %]
DTSTART;VALUE=DATE:[% e.dtstart %]
END:VEVENT
[% END %]
END:VCALENDAR
