//position
function startup() {
    let i = 1;
    while (i <= "[% searchvalue %]") {
        const a = document.getElementById('L' + i);
        i++;
        if (a) a.scrollIntoView();
    }
}

//prepare position
function setsearch(ind) {
    document.forms[0].searchvalue.value = ind;
    parchange();
}

//call a setup table
function pset(p) {
    document.forms[0].command.value = "setup" + p;
    document.forms[0].submit();
}

//call an individual hora
function hset(p) {
    if (p.match('Persoluta')) {
        return okbutton();
    }
    if (p.match('Propers')) {
        p = "[% Propers %]";
        if (!p) p = 0;
        p = 1 - p;
        document.forms[0].Propers.value = p;
        p = 'Sancta Missa';
    }
    clearradio();
    if ("[% caller %]") {
        document.forms[0].caller.value = 1;
    }
    document.forms[0].command.value = "pray" + p;
    document.forms[0].action = "[% officium %]";
    document.forms[0].target = "_self"
    document.forms[0].submit();
}


//finishing horas back to main page
function okbutton() {
    document.forms[0].action = "[% officium %]";
    document.forms[0].target = "_self"
    document.forms[0].command.value = ' ';
    document.forms[0].submit();
}

//to prevent inhearitance of popup
function clearradio() {
    var a = document.forms[0].popup;
    if (a) a.value = 0;
    document.forms[0].action = "[% officium %]";
    document.forms[0].target = "_self"
    return;
}

//restart the programramlet if parameter change
function parchange() {
    clearradio();
    const c = document.forms[0].command.value;
    if (c && !c.match("pray")) document.forms[0].command.value = "pray" + c;
    document.forms[0].submit();
}

//calls kalendar
function callkalendar() {
    document.forms[0].action = '../horas/kalendar.pl';
    document.forms[0].target = "_self"
    document.forms[0].submit();
}

//calls officium
function callofficium() {
    document.forms[0].action = '../horas/officium.pl';
    document.forms[0].target = "_self"
    document.forms[0].submit();
}

//calls compare
function callcompare() {
    document.forms[0].action = "Cmissa.pl";
    document.forms[0].target = "_self"
    document.forms[0].submit();
}

//calls popup
function callpopup(popup) {
    document.forms[0].action = 'mpopup.pl';
    document.forms[0].target = "_new"
    document.forms[0].popup.value = popup;
    document.forms[0].submit();
}


function prevnext(ch) {
    var dat = document.forms[0].date.value;
    var adat = dat.split('-');
    var mtab = new Array(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
    var m = eval(adat[0]);
    var d = eval(adat[1]);
    var y = eval(adat[2]);
    var c = eval(ch);

    var leapyear = 0;
    if ((y % 4) == 0) leapyear = 1;
    if ((y % 100) == 0) leapyear = 0;
    if ((y % 400) == 0) leapyear = 1;
    if (leapyear) mtab[1] = 29;
    d = d + c;
    if (d < 1) {
        m--;
        if (m < 1) {
            y--;
            m = 12;
        }
        d = mtab[m - 1];
    }
    if (d > mtab[m - 1]) {
        m++;
        d = 1;
        if (m > 12) {
            y++;
            m = 1;
        }
    }
    document.forms[0].date.value = m + "-" + d + "-" + y;
}
